
.ipynb_checkpoints/iterative_outlier_detection-checkpoint.py
auto/.nonadmin
auto/conda-meta/history
__pycache__/model_tools.cpython-38.pyc
.ipynb_checkpoints/spectral_regression_modelling-checkpoint.py
.ipynb_checkpoints/iterative_outlier_detection-checkpoint.py
.ipynb_checkpoints/spectral_regression_modelling-checkpoint.py
.ipynb_checkpoints/build_SuperCam_models-checkpoint.ipynb
.ipynb_checkpoints/iterative_outlier_detection-checkpoint.py
.ipynb_checkpoints/spectral_regression_modelling-checkpoint.py
.ipynb_checkpoints/iterative_outlier_detection-checkpoint.py
.ipynb_checkpoints/spectral_regression_modelling-checkpoint.py
.ipynb_checkpoints/__init__-checkpoint.py
.ipynb_checkpoints/stratify_samples-checkpoint.py
.ipynb_checkpoints/spectral_regression_modelling-checkpoint.py
.ipynb_checkpoints/model_tools-checkpoint.py
.ipynb_checkpoints/Auto models workbook-checkpoint.ipynb
__pycache__/model_tools.cpython-312.pyc
tools/__pycache__/airPLS.cpython-312.pyc
tools/__pycache__/spectres.cpython-312.pyc
.ipynb_checkpoints/apply_model-checkpoint.py
tools/__pycache__/airPLS.cpython-311.pyc
tools/__pycache__/spectres.cpython-311.pyc
__pycache__/model_tools.cpython-311.pyc
.ipynb_checkpoints/apply_model-checkpoint.py
